* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-color: #cccccc;
    --primary: #29464e;
    --secondary: #048a91;
    --accent: #82c1be;

}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(./images/mountains.jpg);
    background-position: center;
    background-size: initial;
    color: var(--primary);
}

/* BEGIN HEADER NAV STYLES */
header {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
}

header h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 0;
    text-shadow: 0 0 8px var(--primary);
}

header h4 {
    color: var(--accent);
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
    font-size: 30px;
    font-weight: 300;
}

header nav {
    margin: 5px;
    display: flex; 
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    list-style: none;
}

header nav ul li a {
    padding: 18px;
    font-size: 19px;
    color: var(--accent);
    font-weight: 600;
    text-decoration: none;
}

header nav ul li a:hover {
    font-size: 19px;
    color: var(--secondary);
    font-weight: 700;
    text-decoration: underline;
}
/* END HEADER NAV STYLES */

/* BEGIN UNIVERSAL CONTENT SECTION STYLES */
.container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.content-block {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding: 20px;
    opacity: 70%;
    background-color: rgb(255 254 254 / 61%);
}

.content-block:hover {
    opacity: 100%;
}

.section-title {
    flex-wrap: wrap;
    border-right: solid;
    padding: 10px;
    width: 20%;
}

.flex-row {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-self: center;
    text-align: left;
    margin-left: 10px;
}

.flex-row p {
    display: inline-block;
    padding: 0;
    margin: 10px;
    width: 80%;
}

.flex-row img {
    max-height: 160px;
    max-width: 128px;
    align-self: center;
    margin: 0 10px;
    padding: 0;
    flex: 0 1 auto;
}
/* END UNIVERSAL CONTENT SECTION STYLES */

/* BEGIN WORK SECTION STYLES */
.card-box {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.top-card {
    width: 100%;
    min-height: 240px;
    border: solid 8px var(--accent);
    margin-bottom: 20px;
    background-image: url(./images/BucketTraveler.png);
    background-size: cover;
    background-position: top;
    background-blend-mode: hard-light;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.top-card:hover {
    background-color: rgb(19, 19, 19, 80%);
}

.card-subtitle {
    width: 44%;
    height: 50%;
    min-height: 70px;
    margin: 70px 0 20px 0;
    background-color: var(--accent);
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.top-card .card-subtitle {
    margin: 200px 0 20px 0;
    width: 30%;
}

.card-subtitle h4 {
    font-size: 20px;
    flex-wrap: wrap;
    color: var(--primary);
}

.card-subtitle p {
    color: var(--primary);
    margin: 0;
    font-size: 14px;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.card {
    width: 48%;
    border: solid 8px var(--accent);
    margin-bottom: 20px;
    background-image: url(./images/portfolio-top.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: hard-light;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-style: normal;
}

.page1 {
    background-image: url(./images/oasis.png);
}

.page2 {
    background-image: url(./images/ccc.png);
}

.page3 {
    background-image: url(./images/quiz1.png);
}

.page4 {
    background-image: url(./images/laugh.jpg);
}

.card:hover {
    background-color: rgba(0, 87, 72, 0.8);
}

/* END WORK SECTION STYLES */

/* BEGIN CONTACT/FOOTER SECTION STYLES */
.contact-links {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-self: center;
}

address {
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
}

address a {
    font-size: 19px;
    font-weight: 700;
    color: var(--secondary);
    margin: 5px;
    text-decoration: none;
}

address a:hover {
    color: var(--primary);
    text-decoration: underline;
}
/* END CONTACT/FOOTER SECTION STYLES */

/* BEGIN PLACEHOLDER LANDING PAGE STYLES */
.placeholder-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 200px 80px 500px 80px;
}

.placeholder-text h1 {
    font-size: 30px;
    text-align: center;
    color: var(--primary);
}

header h1 a {
    text-decoration: none;
    color: white;
}

header h1 a:hover {
    text-shadow: 0 0 13px var(--primary);
}
/* END PLACEHOLDER LANDING PAGE STYLES */

/* BEGIN TABLET/LAPTOP MEDIA QUERY SYLES, WIDENS CONTENT TO BE READABLE */
@media screen and (max-width: 980px) {
    .container {
        width: 95%
   } 

    .content-block {
        margin: 25px;
    }
}
/* END TABLET/LAPTOP MEDIA QUERY SYLES */

/* BEGIN PHONE/SMALL TABLET MEDIA QUERY STYLES, MOVES TO COLUMN FORMAT */
@media screen and (max-width: 768px) {
    body {
        background-position: top;
        background-size: cover;
    }
    
    header {
        flex-direction: column;
        align-content: center;
    }

    header h1 {
        font-size: 55px;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
    }

    header h4 {
        font-size: 35px;
        text-align: center;
        margin-left: 0;
    }

    header nav ul {
        justify-content: center;
    }

    header nav ul li a {
        font-size: 25px;
        justify-content: center;
    }
    
    header nav ul li a:hover {
        font-size: 25px;
    }

    .content-block {
        margin: 35px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-title {
        text-align: center;
        width: 50%;
        font-size: 35px;
        border-bottom: solid;
        border-bottom-width: 50%;
        border-right: none;
        justify-content: center;
        align-content: flex-start;
        margin-bottom: 10px;
    }

    .flex-row {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0;
    }

    .flex-row p {
        width: 90%;
        margin: 5px 10px;
        text-align: center;
        justify-content: center;
        align-self: center;
    }

    .flex-row img {
        max-height: 300px;
        max-width: 240px;
        order: 1;
        margin: 10px auto;
    }
    
    .card-box {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .top-card {
        min-height: 200px;
    }

    .top-card .card-subtitle {
        margin: 170px 0 20px 0;
        width: 40%;
    }

    .card {
        width: 100%;
    }

    .card-subtitle {
        width: 40%;
    }

    .card-subtitle p {
        text-align: left;
        margin: 2px 0;
    }

    address {
        flex-direction: column;
        align-items: center;
    }

    address a {
        font-size: 25px;
    }
    /* END PHONE/SMALL TABLET MEDIA QUERY STYLES*/
}